/app-sg/faceutils/*.xml
/app-sg/faceutils/*.dat
/app-sg/faceutils/detected_faces/*
/app-sg/models/*.pth
/app-sg/models/*.h5
/app-sg/predictions/*
*.zip
/app-sg/dist/*
/app-sg/example_images/*
/app-sg/score_plots/*
